.company__heading {
  padding: 0;
  margin: 0;
  margin-bottom: 21px;
  font-family: $roboto-condensed;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: #666666;
}

.company__text {
  padding: 0;
  margin: 0;
  margin-bottom: 21px;
  width: 984px;
  font-family: $pt-mono;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #666666;
}

.company__text:nth-child(3) {
  margin-bottom: 53px;
}

.company__link {
  padding: 13px 49px;
  font-family: $roboto-condensed;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #00B2FF;
  border: 1px solid #00B2FF;
  border-radius: 5px;
}

.company__wrapper {
  display: flex;
  width: 1230px;
  margin: 0 auto;
  margin-top: -457px;
  padding-bottom: 92px;
}

.company__flex {
  margin-left: -10px;
}

.company__image {
  margin-top: 4px;
}

@media (max-width: 1919px) {
  .company__flex {
    width: 80%;
    margin-left: auto;
  }

  .company__wrapper {
    width: auto;
  }

  .company__text {
    width: auto;
  }
}

@media (max-width: $desktop-width) {
  .company__heading {
    font-size: 32px;
    line-height: 45px;
    margin-bottom: 25px;
  }

  .company__text {
    width: 532px;
    margin-left: 3px;
  }

  .company__text:nth-child(3) {
    margin-bottom: 56px;
  }

  .company__text--hidden {
    display: none;
  }

  .company__link {
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 3px;
  }

  .company__wrapper {
    width: 743px;
    padding-bottom: 71px;
  }

  .company__image {
    max-width: none;
    margin-top: -3px;
    margin-left: -25px;
  }

  .company__flex {
    margin-left: -34px;
  }
}

@media (max-width: $tablet-width) {
  .company__image {
    display: none;
  }

  .company__heading {
    font-size: 28px;
    line-height: 39px;
    margin-bottom: 21px;
  }

  .company__wrapper {
    width: 290px;
    padding-bottom: 78px;
  }

  .company__text {
    width: 290px;
    margin-left: 2px;
    margin-bottom: 42px;
  }

  .company__flex {
    margin-left: 0;
  }

  .company__text:nth-child(3) {
    margin-bottom: 45px;
  }

  .company__link {
    margin-left: 0;
  }
}
