.description__heading {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  font-family: $roboto-condensed;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: #00B2FF;
}

.description__text {
  margin: 0;
  padding: 0;
  font-family: $pt-mono;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #666666;
}

@media (max-width: $desktop-width) {
  .description__heading {
    margin-bottom: 10px;
  }

  .description__heading--confidentiality {
    margin-bottom: 14px;
  }

  .description__heading--cost {
    margin-bottom: 7px;
  }
}

@media (max-width: $tablet-width) {
  .description__heading {
    font-size: 20px;
    line-height: 28px;
  }

  .description__heading--confidentiality {
    margin-bottom: -7px;
  }

  .description__heading--cost {
    margin-bottom: 11px;
  }

  .description__text--cost {
    margin-bottom: 26px;
  }
}
