
.features__wrapper {
  background-image: url('../img/triangle-left-big.svg'), url('../img/triangle-left-light.svg'), url('../img/triangle-right-big.svg'), url('../img/triangle-right-light.svg');
  background-size: auto, auto, auto, auto;
  background-position: 0 calc(50% + 229px), 202px 42px, 559px 144px, 1557px 393px;
  background-repeat: no-repeat;
  padding-top: 109px;
  padding-bottom: 533px;
}

.features__list {
  margin: 0;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  display: flex;
  width: 1170px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.features__item {
  position: relative;
  box-sizing: border-box;
  width: 570px;
  min-height: 299px;
  margin-bottom: 30px;
  padding-top: 95px;
  padding-right: 42px;
  padding-left: 42px;
  border: 1px solid #EBEBEB;
  border-left: 3px solid #00B2FF;
  background-color: #ffffff;
  cursor: pointer;
}

.features__item:hover {
  background-color: #00B2FF;
}

.features__item:hover .description__heading {
  color: #ffffff;
}

.features__item:hover .description__text {
  color: #ffffff;
}

.features__item::after {
  position: absolute;
  content: '';
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features__item--timing::after {
  top: 38px;
  left: 41px;
  width: 30px;
  height: 37px;
  background-image: url(../img/timer.svg);
}

.features__item--timing:hover::after {
  background-image: url(../img/timer-white.svg);
}

.features__item--suppliers::after {
  top: 40px;
  left: 43px;
  width: 32px;
  height: 33px;
  background-image: url(../img/suppliers.svg);
}

.features__item--suppliers:hover::after {
  background-image: url(../img/suppliers-white.svg);
}

.features__item--confidentiality::after {
  top: 43px;
  left: 42px;
  width: 36px;
  height: 36px;
  background-image: url(../img/confidentiality.svg);
}

.features__item--confidentiality:hover::after {
  background-image: url(../img/confidentiality-white.svg);
}

.features__item--cost::after {
  top: 40px;
  left: 43px;
  width: 33px;
  height: 33px;
  background-image: url(../img/cost.svg);
}

.features__item--cost:hover::after {
  background-image: url(../img/cost-white.svg);
}

@media (max-width: 1919px) {
  .features__list {
    width: 90%;
    margin: 0 auto;
  }

  .features__item {
    width: 45%;
    margin-right: 10px;
  }
}

@media (max-width: $desktop-width) {
  .features__item {
    width: 345px;
    min-height: 304px;
    padding-top: 65px;
    padding-left: 25px;
    padding-right: 20px;
    margin-right: 0;
  }

  .features__wrapper {
    background-image: url('../img/triangle-tablet.svg');
    background-position: 211px 89px;
    padding-top: 55px;
    padding-bottom: 484px;
  }

  .features__item--confidentiality {
    padding-top: 62px;
  }

  .features__item::after {
    top: 20px;
    left: 25px;
  }

  .features__list {
    width: 720px;
  }

  .features__item:nth-child(n+3) {
    min-height: 232px;
  }
}

@media (max-width: $tablet-width) {
  .features__item {
    width: 290px;
    min-height: 309px;
    padding-top: 70px;
    margin-bottom: 20px;
  }

  .features__item--timing::after {
    top: 22px;
  }

  .features__item--suppliers::after {
    top: 22px;
  }

  .features__item--confidentiality::after {
    top: 25px;
    left: 24px;
  }

  .features__item--cost::after {
    top: 24px;
    left: 27px;
  }

  .features__item:nth-child(2) {
    padding-top: 72px;
    padding-right: 0px;
  }

  .features__item:nth-child(3) {
    padding-top: 65px;
  }

  .features__list {
    width: 295px;
    display: block;
  }

  .features__wrapper {
    background-image: url('../img/triangle-mobile.svg');
    background-position: 50% 78%;
    padding-top: 38px;
    padding-bottom: 495px;
  }
}
