.form-wrapper {
  display: flex;
  padding-top: 91px;
  padding-bottom: 113px;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form__list {
  margin: 0;
  padding: 0;
  margin-left: 4px;
  list-style: none;
  display: flex;
  width: 570px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form__item {
  margin-bottom: 40px;
}

.form__button {
  margin: 0;
  padding: 0;
  padding-top: 12px;
  padding-bottom: 15px;
  padding-left: 79px;
  padding-right: 79px;
  border: none;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  font-family: $roboto-condensed;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #00B2FF;
  cursor: pointer;
}

.form__flex {
  display: flex;
  width: 538px;
  justify-content: space-between;
  align-items: center;
  margin-left: 4px;
}

@media (max-width: $desktop-width) {
  .form-wrapper {
    padding-top: 80px;
    padding-bottom: 104px;
  }

  .form__flex {
    width: 551px;
  }

  .form__button {
    padding-top: 14px;
    padding-left: 84px;
    padding-right: 84px;
    padding-bottom: 15px;
  }

  .form__list {
    width: 592px;
  }
}

@media (max-width: $tablet-width) {
  .form__list {
    display: block;
    width: 290px;
    margin-left: 0;
  }

  .form__flex {
    display: block;
    width: 290px;
    margin-left: 0;
  }

  .form__button {
    padding-right: 89px;
    padding-left: 89px;
    margin-bottom: 26px;
  }

  .form-wrapper {
    padding-top: 30px;
    padding-bottom: 42px;
  }

  .form__item {
    margin-bottom: 30px;
  }

  .form__item:nth-child(3) {
    margin-bottom: 26px;
  }
}
