.header-list {
  margin: 0;
  padding: 0;
  margin-left: auto;
  list-style: none;
  display: flex;
  width: 429px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header-list__link {
  font-family: $pt-mono;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.header-list__link:hover {
  color: #00b2ff;
}

.header-list__link--mail {
  position: relative;
  padding-left: 39px;
}

.header-list__link--mail::after {
  content: "";
  position: absolute;
  width: 19px;
  height: 14px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-image: url(../img/icon-mail-desktop.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-list__item {
  margin-right: 87px;
}

.header-list__item:nth-child(2n+2) {
  margin-right: 0;
}

.header-list__link--phone {
  position: relative;
  padding-left: 34px;
}

.header-list__link--phone::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-image: url(../img/icon-phone-desktop.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

@media (max-width: $desktop-width) {
  .header-list__text {
    display: none;
  }

  .header-list__item {
    margin-right: 0;
  }

  .header-list {
    width: 81px;
    margin-left: auto;
  }

  .header-list__link--phone {
    padding-left: 22px;
  }

  .header-list__link--mail::after {
    background-image: url(../img/icon-mail-tablet.svg);
    top: 37%;
    width: 25px;
    height: 18px;
  }

  .header-list__link--phone::after {
    background-image: url(../img/icon-phone-tablet.svg);
    top: 37%;
    width: 24px;
    height: 24px;
  }
}

@media (max-width: $tablet-width) {
  .header-list {
    width: 71px;
  }
}
