.page-main__wrapper {
  background-image: url('../img/circuit-board-desktop.png'), url('../img/bg-back-desktop.jpg');
  background-size:  auto, cover;
  background-position: 86% 70%, center;
  padding-bottom: 90px;
  background-repeat: no-repeat;
}

@media (min-resolution: $retina) {
  .page-main__wrapper{
    background-image: url('../img/circuit-board-desktop@2x.png'), url('../img/bg-back-desktop@2x.jpg');
  }
}

.page-main__heading {
  padding: 0;
  margin: 0;
  padding-top: 316px;
  margin-bottom: 28px;
  font-family: $roboto-condensed;
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  color: #ffffff;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  margin-left: -6px;
}

.page-main__text {
  position: relative;
  padding: 0;
  margin: 0;
  padding-left: 92px;
  margin-bottom: 45px;
  font-family: $pt-mono;
  font-weight: normal;
  font-size: 22px;
  line-height: 34px;
  color: #ffffff;
  width: 622px;
}

.page-main__text::after {
  content: "";
  position: absolute;
  width: 66px;
  height: 2px;
  top: 17px;
  left: 0;
  transform: translateY(-50%);
  background-image: url('../img/line.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.page-main__link {
  font-family: $roboto-condensed;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  padding: 0 46px;
  padding-top: 17px;
  padding-bottom: 17px;
  margin-bottom: 92px;
  margin-left: 91px;
  background-color: #00B2FF;
  border-radius: 5px;
  display: block;
  width: 317px;
}

.page-main__link:hover {
  color: #00B2FF;
  background-color: #ffffff;
}

.page-main__link--hidden {
  display: inline;
  padding: 0;
  margin-left: 0;
}

.page-main__link--mobile {
  display: none;
}

.page-main__scroll {
  font-family: $pt-mono;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  opacity: 0.5;
  transform: rotate(-90deg);
  display: inline-block;
  padding-bottom: 79px;
}

.page-main__scroll:hover {
  color: #00B2FF;
}

@media (max-width: $desktop-width) {
  .page-main__wrapper {
    background-image: url('../img/circuit-board-tablet.png'), url('../img/bg-back-tablet.jpg');
    background-position: 100% 33%,center;
    padding-bottom: 72px;
  }

  @media (min-resolution: $retina) {
    .page-main__wrapper{
      background-image: url('../img/circuit-board-tablet@2x.png'), url('../img/bg-back-tablet@2x.jpg');
    }
  }

  .page-main__heading {
    padding-top: 190px;
    padding-left: 69px;
    width: 400px;
    font-size: 60px;
    line-height: 70px;
  }

  .page-main__text {
    width: 477px;
    padding-left: 48px;
    margin-left: 66px;
    margin-bottom: 56px;
    font-size: 18px;
    line-height: 28px;
  }

  .page-main__text::after {
    width: 33px;
    background-image: url('../img/line-tablet.svg');
  }

  .page-main__link {
    margin-left: 114px;
    padding: 18px 31px;
  }

  .page-main__link--hidden {
    margin-left: 0;
    padding: 0;
  }

  .page-main__scroll {
    display: none;
  }
}

@media (max-width: $tablet-width) {
  .page-main__wrapper {
    background-image: url('../img/circuit-board-mobile.png'), url('../img/bg-back-mobile.jpg');
    background-position: 23px 90px,center;
    background-size: 300px,cover;
    padding-bottom: 1px;
  }

  @media (min-resolution: $retina) {
    .page-main__wrapper{
      background-image: url('../img/circuit-board-mobile@2x.png'), url('../img/bg-back-mobile@2x.jpg');
    }
  }

  .page-main__heading {
    width: 290px;
    padding-top: 287px;
    padding-left: 6px;
    margin-bottom: 27px;
    font-size: 40px;
    line-height: 47px;
  }

  .page-main__text {
    width: 242px;
    margin-left: 3px;
    margin-bottom: 42px;
    font-size: 16px;
    line-height: 25px;
  }

  .page-main__link--desktop {
    display: none;
  }

  .page-main__link--mobile {
    display: block;
    width: 224px;
    margin-left: 3px;
    margin-bottom: 69px;
  }
}
