.page-header__relative {
  position: relative;
}

.page-header__logo-image--mobile {
  display: none;
}

.page-header__text {
  margin: 0;
  padding: 0;
  font-family: $roboto;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #788891;
}

.page-header__heading {
  margin: 0;
  padding: 0;
  font-family: $roboto-condensed;
  font-weight: 700;
  font-size: 25px;
  line-height: 29px;
  color: #ffffff;
}

.page-header__wrapper {
  position: absolute;
  top: 33px;
  left: 50%;
  transform: translateX(-50%);
  width: 1410px;
  align-items: center;
  display: flex;
}

.page-header__link {
  font-family: $roboto-condensed;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 26px;
  padding-left: 26px;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  color: #ffffff;
  margin-left: 50px;
}

.page-header__link:hover {
  color: #00b2ff;
  border: 1px solid #00b2ff;
}

@media (max-width: 1919px) {
  .page-header__wrapper {
    width: 100%;
  }
}

@media (max-width: $desktop-width) {
 .page-header__link {
   display: none;
  }

 .page-header__wrapper {
   top: 20px;
   left: 50%;
   width: 100%;
 }
}

@media (max-width: $tablet-width) {
  .page-header__wrapper {
    top: 18px;
    left: 50%;
    width: 100%;
  }

  .page-header__logo-image--desktop {
    display: none;
  }

  .page-header__logo-image--mobile {
    display: block;
  }
}
