.product__heading {
  padding: 0;
  margin: 0;
  width: 158px;
  position: absolute;
  top: 50px;
  left: 44px;
  font-family: $roboto-condensed;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.product__image {
  display: block;
  opacity: 0.2;
  max-width: none;
}

@media (max-width: 1919px) {
  .product__image {
    width: 100%;
  }
}

@media (max-width: $desktop-width) {
  .product__heading {
    top: 40px;
  }

  .product__heading--accessories {
    top: 52px;
  }
}

@media (max-width: $tablet-width) {
  .product__heading {
    top: 20px;
    left: 35px;
  }

  .product__heading--accessories {
    top: 31px;
  }
}
