.wrapper-list {
  display: flex;
}

@media (max-width: 1919px) {
  .wrapper-list {
    width: 100%;
  }
}

@media (max-width: $desktop-width) {
  .wrapper-list {
    padding-top: 38px;
    margin: 0 auto;
    width: 768px;
  }
}

@media (max-width: $tablet-width) {
  .wrapper-list {
    display: block;
    width: auto;
    padding-top: 0;
  }
}
