.container {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.container--mobile {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .container {
    width: 768px;
    padding-right: 25px;
    padding-left: 25px;
  }

  .container--mobile {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: auto;
    padding-left: 45px;
    padding-right: 45px;
  }

  .container--mobile {
    width: 100%;
  }
}

@media (min-width: 1920px) {
  .container {
    width: 1441px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .container--mobile {
    width: 100%;
  }
}
