//Ширины

$mobile-width: 320px;
$tablet-width: 767px;
$desktop-width: 1024px - 0.1px;
$retina: 1.5dppx;

//Шрифты

$roboto: "Roboto", "Arial", sans-serif;
$roboto-condensed: "Roboto Condensed", "Arial", sans-serif;
$pt-mono: "PT Mono", "Arial", sans-serif;
